/* App Layout */
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  padding-top: 80px;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

@media (max-width: 960px) {
  main {
    padding-top: 130px;
  }
}
